@charset "UTF-8";

/*general*/
html {
	font-family: Helvetica, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 62.5%;
	scroll-behavior: smooth;
}
html *{
	box-sizing: border-box;
}
/*@font-face {
	font-family: 'azukiLP';
	src: url("sozai/azukifontLP100/azukiLP.ttf");
	font-display: swap;
}*/
body {
	margin: 0;
	/*background-color: #FFF2D4;*/
	background-image: url("sozai/border-part-3.png");
	background-repeat: repeat;
}
.page {
	display: block;
	margin: 0;
}

/*header*/
.site-top {
	display: table;
	width: 100%;
	height: 800px;
}
.site-top-table {
	display: table-cell;
	width: 35vw;
	margin-bottom: 40px;
	background-color: rgba(255,255,255,0.7);
	background-blend-mode:lighten;
}
.site-branding {
	text-align: center;
	margin-right: -10vw;
	margin-left: 10vw;
	margin-top: 60px;
	/*border: 1px solid #696969;*/
	background-color: #ffc0cb;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
h1.site-title {
	font-family: 'Barlow Semi Condensed';
	font-size: 5.2rem;
	font-weight: 500;
	letter-spacing: 3px;
	margin: 0;
	padding: 10px;
	color: #696969;
	border-radius: 10px;
}
.hamburger-outline {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	z-index: 10;
}
.hamburger-icon {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	opacity: 0.5;
}
.hamburger-outline span {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 2px;
	background-color: #696969;
	margin: 0;
  }
.hamburger-outline span:nth-of-type(1) {
top: 20px;
}
.hamburger-outline span:nth-of-type(2) {
top: 30px;
}
.hamburger-outline span:nth-of-type(3) {
top: 40px;
}
#drawercheckbox {
	position: fixed;
	display: none;
}
.site-navigation {
	font-size: 0;
	text-align: left;
	color: #696969;
	margin-top: 100px;
}
.nav-menu {
	/*display: inline-block;*/
	margin-left: 10vw;
	padding: 0;
}
.nav-menu-item {
	display: block;
	padding-bottom: 10px;
	font-family: 'Barlow Semi Condensed';
	font-size: 2.4rem;
	letter-spacing: 1px;
}
.nav-menu-item a {
	color: #696969;
	text-decoration: none;
}
.nav-menu-item a:hover{
	color: #ffb6c1;
}
.nav-menu-item a:active{
	color: #ffb6c1;
}
/*.search-form {
	display: inline-block;
	padding-left: 20px;
	border: solid 1px #808080;
}*/
.keyvisual {
	display: table-cell;
	/*font-family: 'azukiLP';*/
	/*height: 700px;*/
	font-size: 2.0rem;
	color: #696969;
	line-height: 1.5;
	text-align: right;
}
.keyvisual .image {
	text-align: right;
	padding-right: 10vw;
	/*margin-top: 120px;*/
}
#key-image {
	width: 350px;
	/*border-radius: 200px;
	box-shadow: 10px 10px 40px rgba(0,0,0,0.1);*/
}
.key-description {
	/*font-family: 'azukiLP';*/
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 10vw;
	margin: 50px auto;
}

/*main*/
.section-title {
	/*font-family: 'Amatic SC';*/
	font-family: 'Barlow Semi Condensed';
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	font-size: 5.2rem;
}
.section-contents {
	/*font-family: 'azukiLP';*/
	font-size: 2.4rem;
	line-height: 2.0;
}
.section-contents ul {
	margin-block-start: 10px;
	padding-inline-start: 30px;
	text-align: left;
}
#self-introduction {
	height: 500px;
	background-color: #f5f5f5;
}
#self-introduction .section-contents {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px auto;
	padding: 5px;
}
.intro-item {
	list-style: circle;
}
#work-introduction {
	height: 700px;
	/*background-color: #FFF2D4;*/
	background-image: url("sozai/border-part-3.png");
	background-repeat: repeat;
}
#work-introduction .section-contents {
	padding: 20px;
	text-align: center;
	font-size: 2.4rem;
}
.works-img {
	display: inline-block;
	width: 300px;
	height: 300px;
	background-image: url("sozai/ikuno-web-top.jpg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
}
#work-introduction a {
	text-decoration: none;
	color: #696969;
}
#work-introduction a:hover {
	opacity: 0.5;
}
#contact {
	height: 300px;
	background-color: #f5f5f5;
	text-align: center;
}
#contact a {
	text-decoration: none;
	color: #696969;
}
#contact a:hover{
	color: #ffb6c1;
}
#contact a:active{
	color: #ffb6c1;
}
/*footer*/
footer {
	height: 100px;
	/*background-color: #FFF2D4;*/
	background-image: url("sozai/border-part-3.png");
	background-repeat: repeat;
}

/*tablet*/
@media (min-width: 500px) and (max-width: 900px) {
	body {
		margin: 20px 0;
	}
	.page {
		width: 100%;
	}
	.site-top {
		display: block;
	}
	.site-top-table {
		display: block;
		background-color: transparent;
	}
	.site-branding {
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
	.site-title {
		font-size: 4.2rem;
	}
	.hamburger-outline {
		display: block;
	}
	#drawercheckbox:checked ~ .screen-cover {
		left: 0;
	}
	#drawercheckbox:checked ~ .site-navigation {
		left: 0;
	}
	.screen-cover {
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: -100vw;
		background-color: #808080;
		opacity: 0.8;
		}
	.site-navigation {
		margin-top: 0;
		width: 280px;
		padding: 10px;
		text-align: left;
		position: fixed;
		top: 60px;
		left: -280px;
		background-color: rgba(255,255,255,0.9);
		background-blend-mode:lighten;
		transition: 1s;
	}
	.site-navigation .nav-menu {
		display: block;
	}
	.site-navigation .nav-menu-item {
		display: block;
	}
	.keyvisual {
		display: block;
	}
	.section-title {
		padding: 10px;
		font-size: 3.0rem;
	}
}

/*smart phone*/
@media (max-width: 499px) {
	body {
		margin: 20px 0;
	}
	.site-top {
		display: block;
		height: 600px;
	}
	.page {
		width: 100%;
	}
	.site-top-table {
		display: block;
		width: 100%;
		background-color: transparent;
	}
	.site-branding {
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
	.site-title {
		font-size: 4.0rem;
	}
	.hamburger-outline {
		display: block;
	}
	#drawercheckbox:checked ~ .screen-cover {
		left: 0;
	}
	#drawercheckbox:checked ~ .site-navigation {
		left: 0;
	}
	.site-navigation {
		margin-top: 0;
		width: 280px;
		padding: 10px;
		text-align: left;
		position: fixed;
		top: 60px;
		left: -280px;
		background-color: rgba(255,255,255,0.9);
		background-blend-mode:lighten;
		transition: 1s;
	}
	.screen-cover {
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: -100vw;
		background-color: #808080;
		opacity: 0.8;
		}
	.site-navigation .nav-menu {
		display: block;
	}
	.site-navigation .nav-menu-item {
		display: block;
		font-size: 2.4rem;
	}
	.keyvisual {
		display: block;
		height: 500px;
	}
	.keyvisual .image {
		text-align: center;
		padding-right: 0;
		margin-top: 10px;
	}
	#key-image {
		width: 200px;
	}
	.key-description {
		padding-top: 0;
		margin-left: 0;
		text-align: center;
		font-size: 1.8rem;
	}
	.section-title {
		padding: 10px;
		font-size: 3.0rem;
	}
	.section-contents {
		font-size: 1.8rem;
		line-height: 1.5;
		text-align: center;
	}
	#self-introduction {
		height: 400px;
	}
	#work-introduction {
		height: 500px;
	}
	.works-img {
		display: block;
		width: 250px;
		height: 250px;
	}
	#contact {
		height: 200px;
	}
}
